@media all and (min-width: 601px) {
  .main__section__nav {
    width: 70%;
    align-self: center;
    justify-content: space-between;
  }
  .main__section__nav__taches-nb,
  .main__section__nav__taches-tache {
    font-size: 0.7rem;
  }
  .main__section__widgets__head-img {
    width: 38px;
    height: 38px;
  }
  .main__section__widgets__head {
    gap: var(--gap-16);
  }
  .main__section__widgets__head__lists {
    gap: var(--gap-16);
  }
  .main__section__widgets__body-title {
    font-size: var(--font-size-24);
  }
  .main__section__widgets__head__lists-list {
    font-size: var(--font-size-16);
  }
  .main__section__widgets__taches-new {
    font-size: var(--font-size-16);
  }
  .main__section__widgets__taches-new-img {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .main__aside {
    display: flex;
    flex-direction: column;
    gap: var(--padding-32);
    padding-left: var(--padding-24);
  }
  .main__aside__lists {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24);
    margin-top: 5px;
    /* padding: 0px 24px; */
  }
  .main__aside__lists__item {
    display: flex;
    align-items: center;
    padding: 12px 12px;
    gap: var(--gap-8);
    cursor: pointer;
  }

  .main__aside_lists__item-active {
    background-color: #3d3e40;
    margin-right: 18px;
    border-radius: 5px;
  }
  .main__aside__category {
    display: flex;
    justify-content: space-between;
    margin-right: 18px;
  }
  .main__section {
    gap: var(--gap-50);
    padding: var(--gap-50);
  }
  .main__section__nav {
    width: 82%;
    justify-content: space-between;
  }
  .main__section__modal {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .main__aside {
    display: flex;
    flex-direction: column;
    gap: var(--padding-32);
    padding-left: var(--padding-24);
  }
  .main__aside__lists {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24);
    margin-top: 5px;
    /* padding: 0px 24px; */
  }
  .main__aside__lists__item:hover {
    background-color: #3d3e40;
  }
  .main__section__modal {
    display: none;
  }
  .main__aside__lists__item {
    display: flex;
    align-items: center;
    padding: 12px 12px;
    gap: var(--gap-8);
    cursor: pointer;
  }
  .main__aside__lists__item:hover {
    background-color: #3d3e40;
  }

  .main__section {
    gap: var(--gap-50);
    padding: var(--gap-50);
  }
  .main__aside_lists__item-active {
    background-color: #3d3e40;
    margin-right: 18px;
    border-radius: 5px;
  }
  .main__aside__category {
    display: flex;
    justify-content: space-between;
    margin-right: 18px;
  }

  .main__section__nav {
    width: 63%;
    align-self: center;
    justify-content: space-between;
  }
  .main__section__nav__taches-nb,
  .main__section__nav__taches-tache {
    font-size: 1rem;
  }
  /* modal */
  .main__section__modal__container__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main__section__modal__container_span {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .hidden {
    font-weight: 600;
    cursor: pointer;
  }
}
