@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-primary: #2e2e30;
  --bg-secondary: #f5f4f3;
  --bg-white: #fff;

  --color-text: #f5f4f3;
  --color-black: #000;
  --color-primary: #2e2e30;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --font-size-8: 0.5rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-34: 2.125rem;
  --font-size-38: 2.375rem;
  --font-size-42: 2.625rem;

  --gap-8: 0.5rem;
  --gap-16: 1rem;
  --gap-24: 1.5rem;
  --gap-28: 1.75rem;
  --gap-32: 2rem;
  --gap-50: 3.125rem;
  --gap-120: 7.5rem;

  --padding-5O: 3.125rem;
  --padding-24: 1.5rem;
  --padding-32: 2rem;
  --padding-16: 1rem;
  --padding-12: 0.75rem;

  --font-family-title: "Jaro", serif;
  --font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-16);
  background-color: var(--bg-primary);
  font-weight: var(--font-weight-400);
  display: flex;
  flex-direction: column;
  color: var(--bg-secondary);
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 71px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  width: 100%;
}
.header__nav__logo {
  display: flex;
  align-items: center;
  gap: var(--gap-16);
}
.header__nav__logo__div {
  width: 24px;
  height: 24px;
  border-radius: 5px;
}
.header__nav__logo-hover:hover {
  background-color: #3d3e40;
  border-radius: 5px;
  cursor: pointer;
}
.header__nav__logo-span {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-24);
}

.main {
  display: flex;
  padding: 0 0 0 0;
  width: 100%;
}
.main__aside {
  width: 100%;
  max-width: 240px;
  flex: 1;
  display: none;
}
.main__aside__lists__item:hover {
  background-color: #3d3e40;
}
.main__section {
  flex: 1;
  background-color: var(--bg-secondary);
  color: var(--color-primary);
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
  padding: 16px;
}
.main__section-h1 {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-16);
}
.main__section__nav {
  display: flex;
  background-color: var(--bg-white);
  border-radius: 20px;
  padding: var(--padding-16);
  gap: var(--gap-16);
  align-items: center;
  justify-content: space-between;
}
.main__section__nav__taches-nb,
.main__section__nav__taches-tache {
  font-size: 0.5rem;
  line-height: 25px;
  flex-wrap: wrap;
  cursor: pointer;
}
.main__section__widgets {
  background-color: var(--bg-white);
  padding: var(--padding-24);
  display: flex;
  flex-direction: column;
  gap: var(--gap-32);
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.main__section__widgets__head {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--gap-8);
}
.main__section__widgets__head-img {
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.main__section__widgets__body {
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
}
.main__section__widgets__head__lists {
  display: flex;
  gap: var(--gap-8);
}
.main__section__widgets__body-title {
  font-size: var(--font-size-16);
}
.main__section__widgets__head__lists-list {
  font-size: var(--font-size-8);
  position: relative;
}
.main__section__widgets__head__lists-list::after {
  content: "";
  position: absolute;
  background-color: var(--bg-primary);
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
  padding-bottom: var(--padding-16);
}
/* .main__section__widgets__taches {
  display: flex;
  align-items: center;
} */
.main__section__widgets__taches-new {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: var(--font-size-8);
}
.main__section__widgets__taches-new-img {
  width: 16px;
  height: 16px;
}
.main__section__modal {
  width: 100%;
  position: fixed;
  bottom: 3px;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
}
.main__section__modal__container {
  width: 600px;
  height: 533px;
  background-color: var(--bg-white);
  margin-right: 15px;

  border-radius: 5px;
}
.main__section__modal__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 24px;
}
.main__section__modal__container__form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-24);
}
.main__section__modal__container__form__input {
  display: flex;
  align-items: center;
  gap: 8px;
}
.inputTache {
  width: 100%;
  padding: 16px;
  border: none;
  outline: none;
}
.inputCategories,
.inputPriorite {
  width: 48%;
  padding: 9px;
  border: none;
  outline: none;
}
.valueCategories {
  border: none;
  outline: none;
}
.description {
  width: 100%;
}

/* form */
.main__section__modal__container__form__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main__section__modal__container__form__btn-btn {
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.main__section__modal__container__form__btn-img {
  width: 12px;
  height: 12px;
}
