@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-primary: #2e2e30;
  --bg-secondary: #f5f4f3;
  --bg-white: #fff;

  --color-text: #f5f4f3;
  --color-black: #000;
  --color-primary: #2e2e30;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-34: 2.125rem;
  --font-size-38: 2.375rem;
  --font-size-42: 2.625rem;

  --gap-8: 0.5rem;
  --gap-16: 1rem;
  --gap-24: 1.5rem;
  --gap-28: 1.75rem;
  --gap-32: 2rem;
  --gap-50: 3.125rem;
  --gap-120: 7.5rem;

  --padding-5O: 3.125rem;
  --padding-24: 2rem;
  --padding-16: 1rem;
  --padding-12: 0.75rem;

  --font-family-title: "Jaro", serif;
  --font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-16);
  background-color: var(--bg-primary);
  font-weight: var(--font-weight-400);
  display: flex;
  flex-direction: column;
  color: var(--bg-secondary);
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 71px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  width: 100%;
}
.header__nav__logo {
  display: flex;
  align-items: center;
  gap: var(--gap-16);
}
.header__nav__logo-span {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-24);
}

.main {
  display: flex;
  padding: 0 0 0 0;
  width: 100%;
}
.main__aside {
  width: 100%;
  max-width: 240px;
  flex: 1;
  display: none;
}
.main__section {
  flex: 1;
  background-color: var(--bg-secondary);
  color: var(--color-primary);
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
  padding: 16px;
}
.main__section__nav {
  display: flex;
  background-color: var(--bg-white);
  border-radius: 20px;
}
